.todo {
  background: #f782c2;
  padding: 5px;
  margin: 1rem;
  border-bottom: 1px rgb(218, 104, 174) dotted;
  border-radius: 10px;
}
.content {
  position: relative;
  display: flex;
}

.label {
  font-size: 20px;
  display: flex;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  background-color: rgb(151, 151, 168);
  margin: 1rem;
  position: relative;
  border-radius: 3px;
}
.is-completed {
  text-decoration: line-through;
  background-color: #e3e3e3;
  padding: 5px;
  margin: 1rem;
  border-bottom: 1px #ccc dotted;
  border-radius: 10px;
}
.done {
  background: #d527b7;
  color: #fff;
  border: none;
  padding: 5px 9px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
}
