.form {
  display: flex;
  margin: 1rem;
}

.form input[type='text'] {
  flex: 10;
  padding: 5px;
  background-color: #e3e3e3;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.form input[type='submit'] {
  flex: 2;
}
.btn {
  display: inline-block;
  border: none;
  background: #390094;
  color: #e3e3e3;
  padding: 7px 20px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

.btn:hover {
  background: #3c3ebd;
}
